# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBh3hP90N3atIJO1o1gd0PfBdDYeM2YVVA
VITE_FIREBASE_AUTH_DOMAIN=skburgers.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=skburgers
VITE_FIREBASE_STORAGE_BUCKET=skburgers.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=272321954556
VITE_FIREBASE_APP_ID=1:272321954556:web:41bb8cd7c357e39209cd79
VITE_FIREBASE_MEASUREMENT_ID=G-BEW46FDE2Z

# APP_URL: The URL where this applet is hosted.
APP_URL=http://localhost:3000